* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 10px;
    z-index: 2;
}

header img {
    width: 250px;
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(3, 200px);
}

header nav ul li {
    cursor: pointer;
    font-size: 25px;
}

header nav ul:hover {
    color: #beff1b;
}

section {
    background-image: radial-gradient(#7f3d9e, #6d00d9);
    height: 100vh;
    position: relative;
}

section .list {
    width: 70vw;
    height: 100%;
    margin: auto;
    position: relative;
    --calculation: 0;
}

section .list .item {
    position: absolute;
    inset: 0;
    transform: translateX(calc(100vw * var(--calculation)));
    transition: 0.5s;
    opacity: 0;
}

section .list .item .car-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 700px;

      &::before{
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100px;
    top: 150%;
    left: 50px;
    border: 50%;
    filter: blur(50px);
    }
}

section .list .item .car-img img {
    width: 100%;
    transform: rotate(-30deg);
    transition: 0.5s;
    transition-delay: 0.3s;
}

section .list .item .content {
    position: absolute;
    right: 100px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 20px;
}

section .list .item .car-information {
    font-weight: bold;
}

section .list .item h2 {
    font-size: 8em;
    line-height: 1em;
    font-family: 'League Gothic', sans-serif;
    transition-delay: 0.5s;
}

section .list .item .description {
    color: #d9d9d9;
    font-size: 12px;
    text-align: right;
    max-width: 400px;
    transition-delay: 0.7s;
}

section .list .item .information {
    border-radius: 30px;
    height: 35px;
    width: 120px;
    text-transform: uppercase;
    border: 2px solid #791fd3;
    background-color: #beff1b;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    transition-delay: 0.9s;
}

section .list::before {
    content: '';
    position: absolute;
    height: 200px;
    width: 100%;
    top: 50%;
    border-top: 1px solid #fff;
}

.arrows {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25px);
    display: flex;
    justify-content: space-between;
}

.arrows button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.arrows button img {
    width: 30px;
    margin-top: 4px;
}

.arrows button:hover {
    background-color: #beff1b;
}

.arrows button:first-child img {
    transform: scale(-1);
}

.indicators {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
}

.indicators .number {
    font-size: 5em;
    font-family: 'League Gothic', sans-serif;
}

.indicators ul {
    display: flex;
    gap: 10px;
}

.indicators li {
    width: 50px;
    height: 5px;
    background-color: #beff1b;
    border-radius: 5px;
    transition: 0.5s;
}

.indicators li.active {
    background-color: #fff;
}

/* Animações de entrada */
section .list .item .content .car-information,
section .list .item .content h2,
section .list .item .content .description,
section .list .item .content .information {
    transform: translateX(calc(200px * var(--calculation)));
    transition: 0.7s;
    opacity: 0;
}

section .list .item .content h2 {
    transition-delay: 0.5s;
}

section .list .item .content .description {
    transition-delay: 0.7s;
}

section .list .item .content .information {
    transition-delay: 0.9s;
}

section .list .item.active {
    transform: translateX(0);
    opacity: 1;
}

section .list .item.active .car-img img {
    transform: rotate(-20deg);
}

section .list .item.active .content .car-information,
section .list .item.active .content h2,
section .list .item.active .content .description,
section .list .item.active .content .information {
    transform: translateX(0);
    opacity: 1;
}